* {
    box-sizing: border-box;
  }

  /*Body*/
body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Container*/
.container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

  /*Password Box*/
.box {
    padding: 15px;
    align-items: center;
}

  /*Button*/
.generate {
    background-color: mediumpurple;
    color: white;
    text-align: center;
    padding: 15px 30px; 
    font-size: 20x;
}

  /*Form*/
.form {
    padding: 30px;
    
}

.textbox {
  height: 300px;
  width: 500px;
}