body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box {
    padding: 15px;
}

.button {
    background-color: mediumpurple;
    color: white;
    text-align: center;
    padding: 15px 30px; 
    font-size: 20x;
}

.form {
    padding: 30px;
}